---
- name: Install {{ service_name }} and {{ firewalld_service }} packages
  ansible.builtin.yum:
    name:
      - "{{ service_name }}"
      - "{{ firewalld_service }}"
    state: latest

- name: start {{ service_name }} and {{ firewalld_service }} service
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - "{{ service_name }}"
    - "{{ firewalld_service }}"

- name: add various ports for {{ service_name }} in {{ firewalld_service }}
  ansible.builtin.firewalld:
    port: "{{ port_number }}/tcp"
    permanent: true
    immediate: true
    state: enabled

- name: create custom.conf file to {{ service_name }} configuration
  ansible.builtin.template:
    src: custom.conf.j2
    dest: /etc/httpd/conf.d/custom.conf

- name: create index.html file
  ansible.builtin.lineinfile:
    path: /var/www/html/index.html
    create: yes
    line: This server hostname is "{{ ansible_facts.hostname }}"

- name: managing selinux for every host to run webserver
  ansible.builtin.seport:
    ports: "{{ port_number }}"
    proto: tcp
    setype: http_port_t
    state: present

- name: restaring httpd service
  ansible.builtin.service:
    name: "{{ service_name }}"
    state: restarted
