---
- name: create a group {{ group_name }}
  group:
    name: "{{ group_name }}"
    state: present

- name: create a user {{ user_name }}
  user:
    name: "{{ user_name }}"
    groups: "{{ group_name }}"
    state: present

- name: copy the file to managed hosts in /tmp
  template:
    src: host_info.txt.j2
    dest: /tmp/host_info.txt
  notify: add user to wheel group
